body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Cursors */
/* This sets the default cursor for the entire game */
canvas {
    cursor: url('/assets/ui/cursors/cursor-default.png') 32 32, auto !important;
}

/* This automatically swaps the cursor when hovering over 
   anything as .setInteractive({ useHandCursor: true }) */
canvas[style*="cursor: pointer"] {
    cursor: url('assets/ui/cursors/cursor-hover.png') 32 32, pointer !important;
}